Package: ni-linux-kernel-lwb5p_crio20.0
Version: 0.1-r01
Filename: ni-linux-kernel-lwb5p_crio20.0_0.1-r01.ipk
Description: ni linux kernel, modules and headers, wifi driver lwb5p
Section: base
Priority: optional
Maintainer: Martin Schweingruber <martin.schweingruber@schmid-elektronik.ch>
Depends: dhcp-server, wpa-supplicant
License: GPLv2
Architecture: cortexa9-vfpv3
