Package: ni-linux-kernel-zsom-connect
Version: 0.1-r01
Filename: ni-linux-kernel-zsom-connect_0.1-r01.ipk
Description: ni linux kernel, modules and headers, wifi driver lwb5p, huawei cdc ncm driver
Section: base
Priority: optional
Maintainer: Roman Blöchliger <roman.bloechliger@schmid-elektronik.ch>
Depends: dkms, dhcp-server, wpa-supplicant
License: GPLv2
Architecture: cortexa9-vfpv3
